body {
  margin: 0;
  font-family: "Open Sans", Arial; }

header {
  width: 100%;
  height: 400px;
  background: url("../img/header.jpg"); }

footer {
  background: #333;
  min-height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.top-menu {
  background-color: #333; }
  .top-menu nav {
    height: 30px; }
  .top-menu ul {
    list-style-type: none;
    margin: 0; }
    .top-menu ul a {
      color: #fff;
      color: white;
      text-decoration: none; }
  .top-menu .left-menu ul {
    height: 100%; }
    .top-menu .left-menu ul li {
      float: left;
      text-transform: uppercase;
      padding: 0px 5px;
      height: 100%; }
      .top-menu .left-menu ul li:hover {
        background: #acacac; }
  .top-menu .right-menu .dropdown-menu a {
    color: #333; }

.dropdown {
  color: black; }
  .dropdown .row {
    margin: 10px 0; }

.dropdown-menu {
  font-size: 12px; }

.login-form {
  padding: 10px; }

.dialog-background {
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100; }

.auth-divider {
  border-top: 1px solid #333;
  text-align: center; }
  .auth-divider span {
    top: -12px;
    padding: 0 4px;
    background: #fff;
    position: relative; }
